h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* select:not(:checked) {
  color: gray;
} */

span {
    list-style:none;
  }
  span a{
    display:inline-block; 
    padding:0 7px; 
    position:relative;
  }
  span a:not(:last-child)::after{
    content:""; 
    border:1px solid #e2e2e2;
    border-width: 1px 1px 0 0;
    position:absolute; 
    right:-10px; 
    top: 8px; 
    height:70%;
  }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    align-content: center;
    color: white;
}

.body-visual{
  
  overflow-x: hidden;
}

.set-table-scroll {
    max-height:650px;
    overflow-y: auto;
    
}

.set-table-scroll thead th { 
    position: sticky; 
    top: 0; 
  } 

.background-color{
    background:linear-gradient(#000000, #0C8BCB);
    min-height: 90vh
}


.blue-color{
    color: #0C8BCB;
}

.white-color{
    color: rgb(214, 214, 214)
}

.black-color{
  color: black;
}




